{% extends 'base.html'%}
{% load static %}

{% block childpage %}

<div class="container">
    <div class="row my-5">
        <div class="col-sm-6 mt-5">
            <img src="{% static 'images/repair54.jpg'%}" height="400px" width="600px" class="img-fluid"/>
        </div>
        <div class="col-sm-6 px-3">
            <h1 class="my-2">About <b class="txt-color1">Us</b></h1>
            <b>This project belongs to CityClap</b>
            <p>
                CityClave is your go-to solution for seamless and reliable home services. Our platform is designed to connect you with top-notch professionals who can handle a diverse range of tasks, from urgent repairs and routine maintenance to beauty treatments and thorough cleaning.

At CityClave, we understand the importance of having trustworthy and skilled experts in your home. That's why we meticulously vet and train all our service providers to ensure that they deliver exceptional quality and reliability. Our user-friendly app and website make booking services a breeze, allowing you to select a time that fits your schedule with just a few taps.

We pride ourselves on transparency, offering clear and upfront pricing with no hidden fees, so you know exactly what to expect. Plus, our customer review system provides genuine feedback from other users, helping you make informed decisions and choose the best professional for your needs.

Experience the convenience and peace of mind that comes with CityClave—where quality service meets effortless accessibility

            </p>
            <a class="btn btn-dark">Know More.</a>
        </div>
        </div>

    <div class="row my-5">

        <div class="col-sm-6 px-3">
            <h1 class="my-2">Our <b class="txt-color1">Vision</b></h1>
            <b>This project belongs to CityClap</b>
            <p>
               At City Clave, our vision is to redefine urban living by creating a seamless blend of convenience, quality, and community. We believe that every city dweller deserves access to reliable services that enhance their everyday life.</br>

<b>Key Elements of Our Vision:</b>
Empowerment through Convenience

We envision a world where individuals can easily access essential services, freeing up time for what truly matters. Our platform connects customers with trusted professionals, simplifying daily tasks and enhancing life’s experiences.
Quality and Trust<br/>

Our commitment to quality is unwavering. We strive to set the highest standards in service delivery, ensuring that every interaction builds trust and satisfaction. Each professional in our network is thoroughly vetted and trained to provide top-notch service.
Community-Centric Approach

We believe in the power of community. Our vision is to foster strong local connections by supporting small businesses and skilled professionals. By prioritizing community engagement, we aim to create a vibrant ecosystem where everyone thrives.
Sustainability and Innovation<br/>
            </p>
            <a class="btn btn-dark">Know More.</a>
        </div>
           <div class="col-sm-6 mt-5">
            <img src="{% static 'images/repair54.jpg'%}" height="400px" width="600px" class="img-fluid"/>
        </div>
        </div>

    <!----our achievement---------->
         <div class="row heading text-center py-4">
    <div class="col-sm-6 mx-auto">
       <p class="fs-3">Our<b class="txt-color1"> Achievement
           </b></p>

    </div>
</div>
    <div class="row mb-4">

        <div class="col-sm-3 text-center mb-4">
          <i class="fa-solid fa-screwdriver-wrench fs-3 ico p-3"></i>
            <h2 class="mt-3">1000+</h2>
            <h5>Successful Services Delivered</h5>
        </div>

          <div class="col-sm-3 text-center">
          <i class="fa-solid fa-face-smile fs-3 ico p-3"></i>
            <h2 class="mt-3">500+</h2>
            <h5>Happy Customers</h5>
        </div>

          <div class="col-sm-3 text-center">
          <i class="fa-solid fa-star fs-3 ico p-3"></i>
            <h2 class="mt-3">2000+</h2>
            <h5>5 Start Rating</h5>
        </div>

        <div class="col-sm-3 text-center">
          <i class="fa-solid fa-truck fs-3 ico p-3"></i>
            <h2 class="mt-3">5000+</h2>
            <h5>Service Registered</h5>
        </div>
    </div>
    </div>

{% endblock %}