{% extends 'base.html'%}
{% load static %}

{% block childpage %}

<style>
    .form-control
    {
    height:50px;
    border:0 !important;
    }
</style>

<!--Start Heading-->
<div class="row mb-2 mt-4">
    <div class="col-sm-5 mx-auto text-center">
        <p class="fs-3 m-0">Login <b class="txt-color2">Here</b></p>
        <hr/>
    </div>
</div>
<!--End Heading-->

<div class="row">
    <div class="col-sm-4 mx-auto">
        <form method="post">
            {% csrf_token %}
            <b class="fs-4">User Id</b><br/><input type="email" name="email" class="form-control shadow-lg mb-3 fs-5"  placeholder="Email Id.."/>

            <b class="fs-4">Password</b><br/><input type="password" name="password" class="form-control shadow-lg mb-2 fs-5"  placeholder="Password.."/><br/>
            <input type="submit" value="Login" class="form-control shadow-lg border-0 fs-4 w-100 mx-auto btn bg-mycolor1 text-dark"/>
        </form>
    </div>
    </div>

{% endblock%}